body{
  background-color:UCLA Blue;
}
h2{
  color: white;
  text-align: center;
  background-color: black;
}
p{
  font-family: verdana;
  font-size: 20px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.box{
  display:inline-block;
  width:100px;
  height:100px;
  margin:1em;
}
